// 
// user.scss
// Use this to write your custom SCSS
//

.slides {
    display: grid;
    .slide {
      grid-area: 2 / -2;
      .slideContent {
        max-height: 40vh;
        border-radius: 40px;
        background-size: cover;
      }
    }
  
    button {
      font-size: 5rem;
      width: 5rem;
      height: 5rem;

  
      &:hover {
        opacity: 1;
      }
  
      &:focus {
        outline: none;
      }
  
      &:last-child {
        float: left;
        position: relative;
      }
      &:first-child {
        float: right;
        position: relative;
      }
    }
  }
  .slideContent {
    width: 30vw;
    height: 40vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
  
    display: grid;
    align-content: center;
  
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset)))
      rotateY(calc(-45deg * var(--dir)));
  }
  
  .slideContentInner {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
  
    .slideSubtitle,
    .slideTitle {
      font-size: 1.6rem;
      font-weight: normal;
      padding: 0 1rem;
      text-transform: uppercase;
      margin: 0;
      color: white;
    }
  
    .slideSubtitle::before {
      content: "— ";
    }
  
    .slideDescription {
      margin: 0;
      font-size: 0.8rem;
      letter-spacing: 0.2ch;
    }
  }
  
  .slideBackground {
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
  
    transform: translateX(calc(10% * var(--dir)));
  }
  
  .slide[data-active] {
    z-index: 2;
    pointer-events: auto;
  
    .slideBackground {
      opacity: 0.2;
      transform: none;
    }
  
    .slideContentInner {
      opacity: 1;
    }
  
    .slideContent {
      --x: calc(var(--px) - 0.5);
      --y: calc(var(--py) - 0.5);
      opacity: 1;
  
      transform: perspective(1000px);
  
      &:hover {
        transition: none;
        transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
          rotateX(calc(var(--y) * -45deg));
      }
    }
  }

.travel-app {
    max-width: 40vw;
    position: relative;
}
  
@media (max-width: 768px) {
    .travel-app {
        max-width: 80vw;
    }
    .slides {
      display: grid;
      .slide {
        grid-area: 2 / -2;
        .slideContent {
          max-height: 40vh;
          height: 100%;
        }
      }
    }
}

.work-section {
  height:70vw;
}

@include media-breakpoint-down(md) {
  .work-section {
    height:70vh;
  }
}